@charset "utf-8";
@keyframes fadeInLeft{0%{opacity:0;transform:translate3d(-260px,0,0)}60%{opacity:1;transform:translate3d(30px,0,0)}80%{transform:translate3d(-10px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-260px,0,0)}60%{opacity:1;-webkit-transform:translate3d(30px,0,0)}80%{-webkit-transform:translate3d(-10px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}
@-moz-keyframes fadeInLeft{0%{opacity:0;-moz-transform:translate3d(-260px,0,0)}60%{opacity:1;-moz-transform:translate3d(30px,0,0)}80%{-moz-transform:translate3d(-10px,0,0)}100%{-webkit-transform:translate3d(0,0,0)}}
@-ms-keyframes fadeInLeft{0%{opacity:0;-ms-transform:translate3d(-260px,0,0)}60%{opacity:1;-ms-transform:translate3d(30px,0,0)}80%{-ms-transform:translate3d(-10px,0,0)}100%{-ms-transform:translate3d(0,0,0)}}
/*延迟*/
.tr-02 {
    transition:all .2s linear; 
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
.tr-03 {
    transition:all .3s linear; 
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.tr-04 {
    transition:all .4s linear; 
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
}
.tr-06 {
    transition:all .6s linear; 
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
}
/*移动端导航点击按钮*/
#header .container-fluid .navbar-toggle {
	border:0;
	padding: 0;
	border-radius: 0;
}
#header .container-fluid .navbar-toggle span {
	width: 38px;
	height: 4px;
	margin-top: 8px;
	background-color: #8fbf55;
}
#header .container-fluid .navbar-toggle span {
    height: 5px;
    width: 40px;
    border-radius: 8px;
    display: block;
    margin-top: 8px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

#header .container-fluid .navbar-toggle.active-toggle span:nth-child(2) {
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    width: 44px;
    position: relative;
    top: -3px;
}

#header .container-fluid .navbar-toggle.active-toggle span:nth-child(3) {
    opacity: 0
}

#header .container-fluid .navbar-toggle.active-toggle span:nth-child(4) {
    -webkit-transform: rotate(-42deg);
    -moz-transform: rotate(-42deg);
    -ms-transform: rotate(-42deg);
    -o-transform: rotate(-42deg);
    transform: rotate(-42deg);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    width: 44px;
    position: relative;
    top: 2px;
}
#header .container-fluid .navbar-toggle:focus,
#header .container-fluid .navbar-toggle:hover {
	background: none;
}


@media screen and (min-width: 991px) {
#header .navbar-nav > li:hover:after {
    width: calc(100% - 30px);
}
#header .Nav-Wra .Top2-Nav ul li.L-R:hover {
    border:1px solid #b3b3b3;
}
#header .Nav-Wra .Top2-Nav ul li:nth-child(1):hover {
    background-position: 15px -23px;
}
#header .Nav-Wra .Top2-Nav ul li:nth-child(2):hover {
    background-position: -35px -23px;
}
#header .header-swiper .swiper-button-next:hover img.img2,
#header .header-swiper .swiper-button-prev:hover img.img2 {
    opacity: 1;
}
#Contene .Home-A-swiper .swiper-button-next:hover img.img2,
#Contene .Home-A-swiper .swiper-button-prev:hover img.img2 {
    opacity: 1;
}
#footer .f-l ul li a:hover {
    color: #8fbf55;
    top: -1px;
}
.Home-B .Nei-Div:hover,
.List-Content .Content-Div:hover {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.3);
}
.Home-B .Nei-Div .Txt .bottom a:hover i,
.List-Content .Content-Div > .txt .Price a.f-r:hover i {
    right:-80%;
    color: #8fbf55;
}
.Home-B .Nei-Div .Txt .bottom a:hover span,
.List-Content .Content-Div > .txt .Price a.f-r:hover span {
    left:-30%;
    color: #8fbf55;
}
.Home-B .Nei-Div:hover .Photo > img,
.List-Content .Content-Div:hover > .f-l img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}
.Home-B .Nei-Div:hover .Photo .border-1 {
    width: 92%;
    height: 88%;
    opacity: 1;
}
.Home-B .Nei-Div:hover .Photo .href-1 {
    bottom: 0;
}
.Home-B .Nei-Div .Photo .href-1:hover img {
    -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
}
.Right-Nav ul li:hover .show {
    opacity: 1;
    visibility: visible;
}
#Land .Land-Div .click li div:hover,
#Land .Land-Div .Land-Input .txtp span.f-r:hover,
#Land .Land-Div .Land-Input .Third-party li a:hover,
#Land .Land-Div .Land-Input .txtp a:hover  {
    color: #8fbf55;
}
#Land .Land-Div .Land-Input .Third-party li a:hover i,
.List-Details-Content > .f-l .Click-Btn li.icon a:hover {
    -webkit-animation: icon .5s .2s ease both;
    -moz-animation: icon .5s .2s ease both;
    -o-animation: icon .5s .2s ease both;
    animation: icon .5s .2s ease both;
}
#Land .Land-Div .Land-Input .button:hover {
     border-color: #8fbf55;
     -webkit-box-shadow: 0 0 10px rgba(143,191,85,0.8);
     -moz-box-shadow: 0 0 10px rgba(143,191,85,0.8);
     box-shadow: 0 0 10px rgba(143,191,85,0.8);
     -o-box-shadow:0 0 10px rgba(143,191,85,0.8);
}
#Land .Land-Div .Return:hover {
    background-position: -52px -75px;
}
.List-Btn ul li a:hover:after{
    width: calc(100% - 24px);
}
.List-Details-Content > .f-l .Click-Btn li:hover:before {
    width: 100%;
}
.List-Details-Content > .f-l .List-Details-Div .Txt .f-r:hover {
    border-color: #8fbf55;
    -webkit-box-shadow: 0 0 10px rgba(143,191,85,0.8);
     -moz-box-shadow: 0 0 10px rgba(143,191,85,0.8);
     box-shadow: 0 0 10px rgba(143,191,85,0.8);
     -o-box-shadow:0 0 10px rgba(143,191,85,0.8);
}
.List-Details-Content > .f-r .table tr:hover {
    background: #fff;
}
.btn:hover,
.List-Details-Content > .f-r .table td .btn:hover,
.Short-List-SignUp .SignUpDiv > .f-l .submit:hover,
.Short-List-SignUp .SignUpDiv > .f-l .section7 .Payment .btn:hover  {
    -webkit-box-shadow: 0 0 10px rgba(143,191,85,0.8);
     -moz-box-shadow: 0 0 10px rgba(143,191,85,0.8);
     box-shadow: 0 0 10px rgba(143,191,85,0.8);
     -o-box-shadow:0 0 10px rgba(143,191,85,0.8);
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Information .Top a:hover,
.Short-List-SignUp .SignUpDiv > .f-l .section6 a:hover,
.Order .Bottom .Order-Div .head .f-r a:hover,
.Order .Bottom .My-Message ul li a:hover {
    text-decoration:underline;
}
.Order .Bottom .History-Order-F:hover li i {
    background: url('../images/i-8.png') no-repeat center top;
}
.Short-List-SignUp .modal .modal-dialog button.close:hover {
    opacity: .5;
}
#header .Nav-Wra .Top2-Nav ul li .form .submit:hover {
    background-position: 5px -25px; 
}



}


@media screen and (max-width: 1679px) {
#Land .Land-Div {
    top: 55%;
}
#Land .Logo {
    width: 180px;
    margin-left: -90px;
}
#Land .Logo img {
    width: 100%;
}


}

@media screen and (max-width: 1439px) {
/*登陆*/
#Land .Land-Div {
    top: 55%;
    width: 400px;
}
#Land .Land-Div h2 {
    height: 46px;
    line-height: 46px;
    font-size: 20px;
}
#Land .Land-Div .click li {
    font-size: 14px;
}
#Land .Land-Div .Land-Input .txt {
    height: 42px;
    line-height: 42px;
    margin-bottom: 20px;
    font-size: 14px;
}
#Land .Land-Div .click {
    margin-bottom: 45px;
}
#Land .Land-Div .Land-Input .button,
#Land .Land-Div .Land-Input .TxtInput .TxtInput-Div .clearFix .button {
    font-size: 16px;
}
#Land .Land-Div .Land-Input .button,
#Land .Land-Div .Land-Input .Register-1 span {
    height: 42px;
    line-height: 42px;
}
#Land .Land-Div .Land-Input .txtp {
    font-size: 14px;
    margin-bottom: 10px;
}
#Land .Land-Div .Land-Input .Third-party {
    margin-top: 15px;
}
#Land .Land-Div .Land-Input {
    padding: 20px 30px;
}
#Land .Land-Div .Return {
    top: 20px;
}
#Land .Land-Div .Land-Input .button {
    margin: 0px 0 10px;
}


}

@media screen and (max-width: 1365px) {
.Right-Nav {
    right: 0;
}
.w-1180 {
    width: 90%;
}
#header  .navbar-nav {
    top:40px;
}
#header .header-swiper .swiper-button-next, 
#header .header-swiper .swiper-button-prev {
    height: auto;
    width: 32px;
}
#header .header-swiper .swiper-button-next img, 
#header .header-swiper .swiper-button-prev img {
    width: 32px;
}
#header .header-swiper .swiper-slide img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
#header .Nav-Wra .Top2-Nav {
    top: 10px;
}
#header .header-swiper .swiper-pagination,
.Home-A-swiper  .swiper-pagination{
    bottom: 10px;
}
#header .header-swiper .swiper-pagination .swiper-pagination-bullet,
.Home-A-swiper .swiper-pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
}
#header .header-swiper .swiper-button-prev {
    left: 20px;
}
#header .header-swiper .swiper-button-next {
    right: 20px;
}
#header {
    // padding-top: 90px;
}
#header .Nav-Wra {
    background-color: #333;
}
#header .navbar-nav > li > a,
#header .Nav-Wra .Top2-Nav ul li a {
    color: #ccc;
}
.List-Content .Content-Div > .f-r {
    padding-top: 20px;
}
/*填写信息*/
.Short-List-SignUp .SignUpDiv > .f-l .section .Information .Txt  ul li {
    width: 50%;
}
#Land .Land-Div .Land-Input .txt {
    height: 40px;
    line-height: 40px;
}
#Land .Land-Div {
    width: 350px;
}
#Land .Land-Div .click {
    margin-bottom: 35px;
}
#Land .Land-Div .Land-Input .button, #Land .Land-Div .Land-Input .TxtInput .TxtInput-Div .clearFix .button  {
    font-size: 14px;
}
#Land .Logo {
    width: 160px;
    margin-left: -80px;
}



}

@media screen and (max-width: 1279px) {


}
@media screen and (max-width: 1199px) {
#header  .navbar-nav {
    position: absolute;
    right: 0;
    left: auto;
}
#header .Nav-Wra .Top2-Nav {
    right: 7px;
}
#header .navbar-nav > li {
    margin:0 10px;
}
.Right-Nav ul li {
    width: 36px;
}
#footer .f-r > img {
    margin-left: 10px;
}
.Home-B .Nei-Div .Txt {
    padding: 10px 15px;
}
.Home-B .Nei-Div {
    width: 49%;
    margin-top: 20px;
}
#header .header-swiper .swiper-button-next, 
#header .header-swiper .swiper-button-prev {
    width: 20px;
}
#header .header-swiper .swiper-button-next img, 
#header .header-swiper .swiper-button-prev img {
    width: 20px;
}
#header .header-swiper .swiper-button-prev {
    left: 10px;
}
#header .header-swiper .swiper-button-next {
    right: 10px;
}

.List-Content .Content-Div > .f-r {
    padding: 10px 10px 0 0;
}
.List-Content .Content-Div > .f-r h2 .f-r {
    width: 40px;
    height: 40px;
}
.List-Content .Content-Div > .f-r h2 .f-r > strong {
    font-size: 24px;
}
.List-Content .Content-Div > .f-r h2 .f-l {
    font-size: 20px;
}
.List-Content .Content-Div > .txt ul li {
    font-size: 14px;
    margin-bottom: 10px;
}
.List-Content .Content-Div > .txt .Price {
    margin-top: 15px;
}
.List-Btn ul li a {
    margin:0;
}
#Contene .List-title {
    padding-left: 15px;
}
#Contene .List-title:after {
    left: 0;
    z-index: -1;
}
/*列表详细页*/
.List-Details-Content > .f-l .Click-Btn {
    padding: 0 0 0 58px;
    overflow: hidden;
}
.List-Details-Content > .f-l {
    padding: 20px;
}

/*填写信息*/
.Short-List-SignUp .SignUpDiv > .f-l .section2 label {
    display: block;
    width: 100%;
}
.Short-List-SignUp .SignUpDiv > .f-l .section2 .text span {
    display: inline-block;
    width: 130px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section2 .text input {
    width: calc(100% - 150px);
}
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  .section3-P .f-l,
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  .section3-P .f-r {
    width: 100%;
    margin-bottom: 10px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  .section3-P span {
    display: inline-block;
    width: 80px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  div.section3-P input {
    width: calc(100% - 90px);
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Information .Txt {
    padding: 10px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Information .Txt  ul li:nth-child(9) {
    width: 100%;
}
/*订单*/
.Order .Bottom .Order-Div .Bod ul li {
    line-height: 1.8;
    margin-bottom: 10px;
}
.Order .Bottom .Order-Div .Bod ul li span {
    display: block;
    font-weight: 600;
}
/*团体定制*/
#header .content-Wra .content {
    padding: 0 20px 50px 20px;
}
#header .content-Wra .content ul li span {
    font-size: 14px;
    width: 80px;
    margin-right: 0;
}
#header .content-Wra .content ul li input.Input-txt1 {
    width: 295px;
}

#Land .Logo {
    width: 140px;
    margin-left: -70px;
}
#header .content-Wra .content .textarea {
    width: calc(100% - 85px);
}



}

@media screen and (max-width: 1099px) {
    #Land .Land-Div {
        top: 58%;
    }
    #Land .Logo {
        width: 150px;
        margin-left: -75px;
    }
    #Land .Logo {
    width: 100px;
    margin-left: -50px;
    top: 15px;
}
}


@media screen and (max-width: 991px) {
#footer .clearFix > div.f-r,
#footer .clearFix > div.f-l {
    float: none;
}
#footer {
    height: auto;
    text-align: center;
    padding: 30px 0;
    // margin-top: 20px;
}
#footer .f-l ul {
    display: inline-block;
}
#footer .f-l ul li {
    margin: 0 18px;
}
.Home-A .swiper-slide .Txt .Top h2,
.Home-B .Nei-Div .Txt .bottom h3 {
    font-size: 18px;
}
.Home-A .swiper-slide .Txt .f-r span,
.Home-B .Nei-Div .Txt .top .price span {
    font-size: 22px;
}
.Home-A .swiper-slide .Txt p,
.Home-B .Nei-Div .Txt .top p,
.Home-B .Nei-Div .Txt .bottom a {
    font-size: 14px;
}
.Home-A .swiper-slide .Txt {
    padding: 20px;
}
#header .Nav-Wra nav {
    height: 120px;
}
#header .navbar-brand > span {
    display: block;
    text-align: right;
}
#header  .navbar-nav {
    top: 70px;
}
#header .Nav-Wra .Top2-Nav {
    top: 26px;
}
#header {
    padding-top: 120px;
}
.Home-B .Nei-Div {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.3);
}
.Home-B .Nei-Div .Txt .bottom a i {
    right:-90px;
    color: #8fbf55;
}
.Home-B .Nei-Div .Txt .bottom a span {
    left:-25px;
    color: #8fbf55;
}
.Home-B .Nei-Div .Photo > img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}
.Home-B .Nei-Div .Photo .border-1 {
    width: 92%;
    height: 88%;
    opacity: 1;
}
.Home-B .Nei-Div .Photo .href-1 {
    bottom: 0;
}
.Home-B .Nei-Div .Photo .href-1 img {
    -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
     -ms-transform: rotate(360deg);
     -o-transform: rotate(360deg);
     transform: rotate(360deg);
}
/*登陆*/
.LangRegister #footer {
    display: none;
}
/*团体定制*/
.LangRegister #header {
    height: 110%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.LangRegister  #header .banner {
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.LangRegister  #header .banner img {
    height: 100%;
    width: auto;
}
#header .content-Wra {
    width: 95%;
    top: 150px;
    // height: 80%;
     -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    transform: translate(-50%,0);
}
#header .content-Wra .content ul li .f-l,
#header .content-Wra .content ul li .f-r {
    width: 50%;
}
#header .content-Wra .content ul li input.Input-txt1 {
    width: calc(100% - 105px);
}
#header .content-Wra .content h2 {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
}
#header .content-Wra .content hr {
    margin: 10px 0;
}
#header .content-Wra .content {
    padding: 0 20px 30px;
}
#header .content-Wra .content ul li {
    padding: 5px 10px;
}







#Land {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
#Land > img {
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
#Land .Logo {
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
#Land .Land-Div {
    top: 60%;
}
#Land .Land-Div h2 {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
}
#Land .Land-Div .click li {
    font-size: 16px;
}
#Land .Land-Div .Land-Input .txt {
    height: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    font-size: 16px;
}
#Land .Land-Div .click {
    margin-bottom: 30px;
}
#Land .Land-Div .Land-Input .button,
#Land .Land-Div .Land-Input .TxtInput .TxtInput-Div .clearFix .button {
    font-size: 16px;
}
#Land .Land-Div .Land-Input .button,
#Land .Land-Div .Land-Input .Register-1 span {
    height: 40px;
    line-height: 40px;
}
#Land .Land-Div .Land-Input .txtp {
    font-size: 16px;
    margin-bottom: 15px;
}
#Land .Land-Div .Land-Input .Third-party {
    margin-top: 20px;
}
#Land .Land-Div .Land-Input {
    padding: 20px 30px;
}
.List-Content {
    overflow: hidden;
    zoom:1;
}
.List-Content .Content-Div {
    width: 49%;
}
.List-Content .Content-Div:nth-child(odd) {
    float: left;
}
.List-Content .Content-Div:nth-child(even) {
    float: right;
}
.List-Content .Content-Div > .f-l, 
.List-Content .Content-Div > .f-r {
    width: 100%;
}
.List-Content .Content-Div > .f-r {
    padding: 10px;
}
.List-Btn1 {
    display: none;
}
.List-Btn2 {
    display: block;
}
.List-Btn ul li {
    width: 25%;
}
.List-Btn ul li span {
    width: 60px;
    display: inline-block;
    text-align: right;
    color: #8fbf55;
}
.List-Btn ul li select {
    width: calc(100% - 65px);
    display: inline-block;
    cursor: pointer;
    border: solid 1px #8fbf55;  
    border-radius: 8px 0 8px 8px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    padding-left: 5px;
    background: url('../images/select1.png') no-repeat 95% center;
    background-size: 15px auto;
}
/*列表详细页*/
#Title {
    height: 46px;
    line-height: 46px;
}
.List-Details-Content > .f-l {
    width: 100%;
}
.List-Details-Content > .f-r {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
/*填写信息*/
.Short-List-SignUp .SignUpDiv > .f-l {
    width: 100%;
}
.Short-List-SignUp .SignUpDiv > .f-r {
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    zoom:1;
    background: #fff;
}
.Short-List-SignUp .SignUpDiv > .f-r .photo,
.Short-List-SignUp .SignUpDiv > .f-r .txt {
    width: 50%;
    float: left;
    height: 238px;
}
.Short-List-SignUp .SignUpDiv > .f-r .photo img {
    height: 100%;
    width: auto;
}
.Short-List-SignUp .SignUpDiv > .f-r .txt {
    padding: 10px;
}
.Short-List-SignUp .SignUpDiv {
    position: relative;
    padding-bottom: 180px;
}
.Short-List-SignUp .SignUpDiv > .f-l .poa {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 40px;
}
.Short-List-SignUp  .SignUpDiv-B {
    padding: 35px 30px 70px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section,
 .Short-List-SignUp .SignUpDiv > .f-l .section2,
  .Short-List-SignUp .SignUpDiv > .f-l .section3, 
  .Short-List-SignUp .SignUpDiv > .f-l .section4,
   .Short-List-SignUp .SignUpDiv > .f-l .section5, 
.Short-List-SignUp .SignUpDiv > .f-l .section7 {
    padding-left: 0;
}
.Order .Bottom .Order-Div .head {
    padding: 0 20px;
}
.Order .Bottom .My-Message ul li > img {
    margin-right: 20px
}

#header .content-Wra .content ul li.appshow {
    display: block;
}
#header .content-Wra .content ul li.pcshow {
    display: none;
}
#Land .Land-Div .click li:nth-child(2) {
    padding-left: 0;
}
#Contene .Us ul.A li {
    width: 100%;
    line-height: 1.8;
}
#Contene .Us section ul {
    width: 100%;
}


}
@media screen and (max-width: 875px) {
#header .navbar-nav > li {
    margin: 0;
}
/*订单*/
.Order .Bottom .Order-Div .Bod ul li {
    width: 50%;
}
.Order .Bottom .Order-Div .Bod ul li span {
    display: inline-block;
    margin-right: 5px;
}
.Order .Bottom .Order-Div .head {
    padding-right: 10px;
}
.Order .Bottom .My-Message ul li {
    padding: 0 30px;
}



}
@media screen and (max-width: 767px) {
#header .navbar-collapse {
    // height: 500px;
}
#header .navbar-brand {
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
#header .container-fluid .navbar-toggle {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 0;
}
#header .navbar-header ,
#header .navbar-collapse{
    margin:0;
    border:0;
}
#header .navbar-header {
    z-index: 999999999;
    position: relative;
    height: 120px;
}
#header .navbar-collapse {
    z-index: 9999999;
    position: relative;
}
#header  .navbar-nav {
    width: 100%;
    margin:0;
    padding: 0;
    top: 0;
    background-color: #333;
    border-top: 1px solid #8fbf55;
    z-index: 9999999;
    position: relative;
}
#header  .navbar-collapse.in {
    overflow-y: visible;
}
#header .w-1180 {
    width: 100%;
}
#header .Nav-Wra .Top2-Nav ul li:nth-child(1),
#header .Nav-Wra .Top2-Nav ul li:nth-child(2) {
    display: none;
}
#header .Nav-Wra .Top2-Nav ul li:nth-child(3),
#header .Nav-Wra .Top2-Nav ul li:nth-child(4) {
    width: 60px;
    margin-left: 0;
    float: none;
}
#header .Nav-Wra .Top2-Nav ul li a,
#footer .f-l p {
    font-size: 14px;
}
#header .header-swiper .swiper-button-next, 
#header .header-swiper .swiper-button-prev,
#Contene .Home-A-swiper .swiper-button-next, 
#Contene .Home-A-swiper .swiper-button-prev {
    display: none;
}
#header .header-swiper .swiper-slide img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
#header .navbar-nav > li {
    width: 90%;
    margin: 20px auto;
}
.Home-B .Nei-Div:nth-child(odd),
.Home-B .Nei-Div:nth-child(even) {
    float: none;
    width: 100%;
}
.Home-A {
    margin-top: 20px;
}
#footer .f-l p {
    line-height: 1.5;
    margin-bottom: 10px;
}
.Home-A-swiper  .swiper-pagination {
    display: block;
}
/*列表*/
.List-Content .Content-Div{
    width: 100%;
}
// .List-Content .Content-Div > .txt .Price a.f-r {
//     display: none;
// }
.List-Content .Content-Div > .f-r {
    padding: 20px;
}
.List-Btn ul li {
    padding: 10px;
    margin-bottom: 0;
}
.List-Btn ul li span {
    padding-bottom: 10px;
}
.List-Btn ul li select {
    width: 100%;
}
/*列表详细页*/
.List-Details-Content > .f-l .List-Details-Distance .Distance > .f-l {
    width: 100%;
}
.List-Details-Content > .f-l .List-Details-Distance .Distance {
    padding-top: 0;
}
.List-Details-Content > .f-l .List-Details-Div .Txt .modal-dialog {
    width: 90%;
}

/*填写信息*/
.Short-List-SignUp .SignUpDiv > .f-r .photo, 
.Short-List-SignUp .SignUpDiv > .f-r .txt {
    width: 100%;
    height: auto;
}
.Short-List-SignUp .SignUpDiv > .f-r .photo img {
    height: auto;
    width: 100%;
}
.Short-List-SignUp .SignUpDiv > .f-r .txt p {
    margin-bottom: 15px;
}

.Short-List-SignUp .SignUpDiv > .f-l .section6 label {
    display: block;
    margin-bottom: 10px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section6 a {
    margin:0 10px;
}

.Short-List-SignUp .SignUpDiv > .f-l .section .Information .Txt  ul li {
    width: 100%;
}
.Short-List-SignUp .SignUpDiv {
    padding: 20px 20px 200px 20px;
}
.Short-List-SignUp  .SignUpDiv-B {
    padding: 35px 30px 70px;
}
.Short-List-SignUp > .Top > a {
    width: 150px;
    background-size: 100% 100% !important;
    right: 10px;
}
.Short-List-SignUp > .Top > a:nth-child(3) {
    right: 18px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section2 .text span,
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  .section3-P span {
    display: block;
    padding-bottom: 10px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section2 label {
    margin-bottom: 10px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section2 .text input,
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  div.section3-P input {
    width: 100%;
}
.Short-List-SignUp .SignUpDiv > .f-l .section3 .left-txt {
    width: 100%;
    margin-bottom: 20px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio {
    width: 100%;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Common strong {
    display: block;
    margin-bottom: 10px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Common label {
    margin-left: 0;
    margin-right: 50px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Common {
    margin-bottom: 20px;
}
.Short-List-SignUp .modal .modal-dialog {
    width: 90%;
}
.Short-List-SignUp .modal .modal-dialog .modal-body {
    width: 100%;
}
.Short-List-SignUp .modal .modal-dialog .modal-content {
    padding: 20px 30px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section4 .textarea {
    height: 120px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section7 h5 {
    font-size: 16px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section7 .Payment .txt {
    font-size: 14px;
    line-height: 1.5;
}
.Short-List-SignUp .SignUpDiv > .f-l .section7 .Payment {
    padding: 15px 15px 100px 15px;
    position: relative;
}
.Short-List-SignUp .SignUpDiv > .f-l .section7 .Payment .btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50%;
}
.Order .Bottom .History-Order-F table td span {
    display: block;
    font-weight: 600;
}
.Order .Bottom .History-Order-F table tr {
    line-height: 30px;
    height: auto;
    padding: 10px 0;
    display: block;
}
.Order .Bottom .My-Message ul li {
   position: relative;
   padding: 0 20px;
}
.Order .Bottom .My-Message ul li a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
}
.Order .Bottom .My-Message ul li a span {
    position: absolute;
    top: 20px;
    right: 20px;
}
.Order .Bottom .Modify .form li {
    height: auto;
}
.Order .Bottom .Modify .form li strong,
.Order .Bottom .Modify .form li span  {
    display: block;
    width: 100%;
}
.Order .Bottom .Modify .form li strong {
    text-align: left;
}
.Order .Bottom .Modify .form li .txt-input2 {
    width: calc(100% - 150px);
}
.Order .Bottom .Modify .form {
    width: 80%;
}
/*团体定制*/
#header .content-Wra .content ul li .f-l,
#header .content-Wra .content ul li .f-r {
    float: none;
    width: 100%;
    margin-bottom: 5px;
}
#header .content-Wra .content .btn {
    margin-top: 10px;
    width: 80%;
}
#header .content-Wra .content hr {
    display: none;
}
#header .content-Wra .content ul li {
    padding: 0;
}
#header .content-Wra .content ul li input {
    height: 20px;
    line-height: 20px;
}
#header .content-Wra .content h2 {
    display: none;
}
#header .content-Wra .content {
    padding-top: 20px;
}
#header .content-Wra .content .btn {
    height: 30px;
    line-height: 30px;
    width: 30%;
    font-size: 16px;
}
#header .content-Wra .content ul li input.ico1 {
    background-size: 15px auto !important;
}
#header .content-Wra .content ul li span {
    width: 100px;
}
.Home-A .swiper-slide .Txt .Top h2 {
    width: 100%;
}
.Home-A .swiper-slide .Txt .Top div.f-r {
    position: absolute;
    right: 20px;
    bottom:20px;
}
.Home-A .swiper-slide .Txt {
    padding-bottom: 50px;
}
#Contene .Us {
    padding: 20px 30px 10px;
}
#Contene .Us h2 {
    font-size: 18px;
}
#Contene .Us h2:after {
    height: 18px;
    top: 5px;
    width: 3px;
}
#Contene .Us dl dd {
    font-size: 14px;
    padding-top: 15px;
}
#Contene .Us p {
    font-size: 14px;
    margin-bottom: 15px;
}
#Contene .Us ul.TXt {
    font-size: 14px;
    margin-bottom: 20px;
}
#Contene .Us ul.TXt li {
    line-height: 1.8;
    margin-bottom: 5px;
}
#Contene .Us ul.TXt li strong {
    display: block;
    font-weight: 600;
}
#Contene .Us ul.TXt li span {
    font-size: 16px;
}
#Contene .Us dl {
    padding-bottom: 0;
}
#Contene .Us section ul li ol {
    padding-left: 20px;
}
#Contene .Us hr {
    display: none;
}
#Title {
    font-size: 20px;
}
#Contene .Us .Problem .ask p, #Contene .Us .Problem .ask span {
    font-size: 14px;
    margin-bottom: 0;
}
#Contene .Us .Problem .answer p, #Contene .Us .Problem .answer span {
    font-size: 13px;
}
.Short-List-SignUp .SignUpDiv > .f-l .section3 .right-radio  .section3-P .textarea {
    height: 120px;
}
#payment .content-payment ul {
    padding: 20px 0;
}
#payment .content-payment .paymentDiv {
    padding: 30px 0;
}
#payment .top-b img {
    width: 100px;
}
#payment .top-b span {
    font-size: 14px;
}
#payment .top-b span:after {
    height: 16px;
    top: 3px;
}
#Contene .Us .Problem span {
    width: 100%;
    margin: 10px 0 5px;
}
#Contene .Us .Problem p {
    width: 100%;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Common strong {
    display: block;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Common > div.f-l {
    width: 100%;
}
#header .content-Wra .content .textarea {
    width: calc(100% - 105px);
}
#Land .Land-Div .Land-Input .TxtInput .TxtInput-Div .clearFix .button:hover {
    background: #8fbf55;
    color: #fff;
}

}

@media screen and (max-width: 669px) {
.Order .Bottom .Order-Div .Bod ul li span {
    display: block;
}
.Order .Bottom .My-Message ul li > img {
    width: 50px;
    margin-top: 15px;
}
.Order .Bottom .My-Message ul li h3 {
    font-size: 16px;
}
.Order .Bottom .My-Message ul li p {
    font-size: 14px;
}
}



@media screen and (max-width: 550px) {
/*头部*/
#header {
    padding-top: 100px;
}
#header .Nav-Wra nav,
#header .navbar-header {
    height: 100px;
}
#header .navbar-brand > img {
    width: 100%;
}    
#header .navbar-brand {
    width: 105px;
}
#header .navbar-brand span {
    font-size: 14px;
}
#footer .f-l p span {
    display: block;
}
/*登陆*/
#Land .Land-Div {
    width: 90%;
}
#Land .Land-Div .click li {
    width: 45%;
    text-align: center;
    padding-left: 0 !important;
    line-height: 40px;
    height: 40px;
    background: #ccc;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 5px;
}
#Land .Land-Div .click li.active {
    background: #8fbf55;
}
#Land .Land-Div .click li div {
    width: 100%;
}
#Land .Land-Div .click li div span {
    display: none;
}
#Land .Land-Div .click li:nth-child(2) {
    float: right
}
#Land .Land-Div .click {
    margin-bottom: 15px;
}
#Land .Logo {
    width: 120px;
    margin-left: -75px;
    top: 10px;
}
/*列表*/
.List-Btn ul li {
    width: 100%;
}
.List-Btn ul li select {
    width: calc(100% - 65px);
}
.List-Btn ul li span {
    text-align: left;
}
/*列表详细页*/
.List-Details-Content > .f-l .Click-Btn {
    padding: 0;
}
.List-Details-Content > .f-l .Click-Btn li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.List-Details-Content > .f-l .Click-Btn li.icon {
    display: none;
}
.List-Details-Content > .f-l .Photo {
    margin:20px 0;
}
.List-Details-Content > .f-l {
    padding: 10px;
}
.List-Details-Content > .f-r .table th:nth-child(2),
.List-Details-Content > .f-r .table th:nth-child(3),
.List-Details-Content > .f-r .table td:nth-child(2),
.List-Details-Content > .f-r .table td:nth-child(3) {
    display: none;
}
.Short-List-SignUp > .Top > a {
    width: calc(33.333% - 20px);
}
.Short-List-SignUp .SignUpDiv > .f-l h4 {
    margin-bottom: 10px;
}
.Short-List-SignUp .modal .modal-dialog .modal-body li {
    text-align: left;

}
.Short-List-SignUp .modal .modal-dialog .modal-body li strong {
    width: 92px;
    font-size: 14px;
}
.Short-List-SignUp .modal .modal-dialog .modal-body li label {
    margin-right: 20px;
}
.Short-List-SignUp .modal .modal-dialog .modal-body li strong .select {
    width: 75px;
}
.Short-List-SignUp .modal .modal-dialog .modal-body li > span {
    width: calc(100% - 117px);
}
.Short-List-SignUp .modal .modal-dialog .modal-body li:nth-child(6) > span {
width: 100%;
}
.Order .Bottom .Order-table ul li {
    width: 33.3333% !important;
}
.Order .Bottom .Order-table ul li:nth-child(5),
.Order .Bottom .Order-table ul li:nth-child(3) {
    display: none;
}
.Order .Bottom .Order-Div .Bod ul li {
    width: 100%;
}
.Order .Bottom .Order-Div .Bod ul li span {
    display: inline-block;
}
.Order .Bottom .Order-Div .Bod {
    padding: 20px;
}
.Order .Bottom .Order-Footer {
    height: auto;
    padding: 20px 0;
}
.Order .Bottom .Order-Footer .f-l {
    text-align: center;
    float: none;
}
.Order .Bottom .Order-Footer .btn {
    display: block;
    float: none;
    margin: 0 auto;
}
.Order .TopWra > .Top .f-r {
    width: 100%;
}
.Order .TopWra {
    height: auto;
    line-height:50px;
}
.Order .TopWra > .Top .f-r {
    overflow:hidden;
    zoom:1;
}
.Order .TopWra > .Top .f-r .btn {
    margin-left: 0;
    width: calc(33.3333% - 10px);
    display: block;
    float: left;
    margin: 0 5px 20px;
}
.Order .TopWra > .Top .f-l {
    font-size: 22px;
    margin-top: 20px;
}
.Order .Bottom .My-Message ul li > img {
    display: block;
    float: none;
    margin: 0 0 20px 0;
}
.Order .Bottom .My-Message ul li {
    height: auto;
    padding-bottom: 20px;
}
.Order .Bottom .My-Message ul li div {
    float: none;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.Order .Bottom .Modify .form li strong {
    font-size: 14px;
}
.Order .Bottom .Modify .form li .btn1 {
    width: 100px;
}
.Order .Bottom .Modify .form li .txt-input2 {
    width: calc(100% - 110px);
}
#payment .content-payment ul li span.f-l,
#payment .content-payment ul li span.f-r {
    display: block;
    float: none;
}
#payment .content-payment ul li span.f-r {
   display: none;
}
#payment .content-payment .paymentDiv > img {
    margin-top: 10px;
}
#payment .content-payment .paymentDiv .iocfukuan {
    margin-top: 10px;
}



}
@media screen and (max-width: 468px) {
.Home-B .Nei-Div .Txt .top .price sup,
.Home-B .Nei-Div .Txt .top .price strong {
    font-size: 14px;
}
#footer .f-l ul li {
    margin: 0 8px;
}
#footer .f-l ul li:after {
    left: -8px;
    height: 14px;
}
#footer .f-l ul li a {
    font-size: 14px;
}
#footer .f-r a img {
    width: 120px;
}
#footer .f-r a span {
    font-size: 18px;
}
#footer .f-r > img {
    top: -20px;
}
.Home-A .swiper-slide .Txt .Top h2, 
.Home-B .Nei-Div .Txt .bottom h3 {
    font-size: 16px;
}
.Home-A .swiper-slide .Txt .f-r span, 
.Home-B .Nei-Div .Txt .top .price span {
    font-size: 28px;
}
.Home-B .Nei-Div .Txt .top p {
    position: relative;
    top: 10px;
}
#header .header-swiper .swiper-pagination, 
.Home-A-swiper  .swiper-pagination {
    bottom: 0 !important;;
}
#Land .Land-Div .click li,
#Land .Land-Div .Land-Input .txt,
#Land .Land-Div .Land-Input .txtp,
#Land .Land-Div .Land-Input .TxtInput .TxtInput-Div .clearFix .button {
    font-size: 14px;
}
.Short-List-SignUp > .Top > a {
    right: 0 !important;
    font-size: 14px;
}
.Short-List-SignUp > .Top {
    margin-bottom: 15px;
}
.Short-List-SignUp .modal .modal-dialog .modal-content {
    padding: 15px;
}
.Short-List-SignUp .SignUpDiv > .f-l h4 {
    padding-left: 20px;
}
.Short-List-SignUp .SignUpDiv > .f-l h4:after {
    left: 0;
}
.Short-List-SignUp .modal .modal-dialog .modal-body {
    padding: 15px 0;
}
.Short-List-SignUp .modal .modal-dialog {
    width: 95%;
}
.Short-List-SignUp .SignUpDiv {
    padding: 10px 10px 200px 10px;
}
.Short-List-SignUp  .SignUpDiv-B {
    padding: 35px 30px 70px;
}
.Order .Bottom .Order-Footer .f-l span {
    display: block;
}
.Order .TopWra > .Top .f-r .btn {
    font-size: 14px;
}
.Order .Bottom .History-Order-F table td:nth-child(3) {
    display: none;
}
.Order .Bottom .History-Order li:nth-child(4) {
    width: 20px;
    padding: 0;
}
.Order .Bottom .History-Order li {
    width: 30%;
}

/*团体定制*/
#header .content-Wra .content ul li .f-l,
#header .content-Wra .content ul li .f-r {
    float: none;
    width: 100%;
    margin-bottom: 5px;
}
#header .content-Wra .content .btn {
    margin-top: 10px;
    width: 80%;
}
#header .content-Wra .content hr {
    display: none;
}
#header .content-Wra .content ul li {
    padding: 0;
}
#header .content-Wra .content ul li input {
    height: 20px;
    line-height: 20px;
}
#header .content-Wra .content h2 {
    display: none;
}
#header .content-Wra .content {
    padding-top: 20px;
}
#header .content-Wra .content .btn {
    height: 30px;
    line-height: 30px;
    width: 30%;
    font-size: 16px;
}
#header .content-Wra .content ul li input.ico1 {
    background-size: 15px auto !important;
}
.Short-List-SignUp .SignUpDiv > .f-l .section .Common label {
    // display: block;
    margin-right: 20px;
}
#payment .content-payment .paymentDiv {
    padding: 20px 0;
    border-width: 1px;
}
#payment .content-payment ul {
    padding: 15px 0;
}
#payment .content-payment ul li {
    line-height: 1.5;
}
#payment .top-b {
    height: 48px;
    line-height: 48px;
}
#payment .content-payment {
    top: 78px;
    height: calc(100% - 78px);
}
#payment .content-payment .paymentDiv .iocfukuan {
    height: 42px;
    padding: 4px 20px;
}
#payment .content-payment .paymentDiv .iocfukuan > img {
    width: 26px;
    position: relative;
    top: 3px;
}


}

@media screen and (max-width: 350px) {
#header .content-Wra .content {
    padding: 10px;
}
#header .content-Wra .content .textarea {
    height: 50px;
}
#header .content-Wra .content .textareaspan {
    top: -30px;
}
#header .content-Wra .content .btn {
    margin-top: 5px;
}
#header .content-Wra .content ul li span {
    width: 90px;
}
#header .content-Wra .content ul li input.Input-txt1,
#header .content-Wra .content .textarea {
    width: calc(100% - 95px);
}
#header .content-Wra {
    // top: 58%;
    top:150px; 
}
#Land .Land-Div .Land-Input .txt {
    margin-bottom: 10px;
}
#Land .Land-Div .Land-Input {
    padding: 15px 20px;
}
#Land .Land-Div .click li,
#Land .Land-Div .Land-Input .txt,
#Land .Land-Div .Land-Input .button {
    height: 36px;
    line-height: 36px;
}
#Land .Land-Div {
    top: 60%;
}
 #Land .Land-Div .Land-Input .TxtInput .TxtInput-Div .clearFix .button {
    font-size: 12px;
}
#Land .Land-Div .Land-Input .TxtInput span.position {
    font-size: 12px;
}
#Land .Land-Div .Land-Input .Third-party li a {
    font-size: 12px;
}
#Land .Land-Div .Land-Input .button {
    margin-bottom: 0;
}

// .Home-B .Nei-Div .Txt .bottom h3,
// .Home-B .Nei-Div .Txt .bottom a {
//     float: none;
// }
.Home-B .Nei-Div .Txt {
    padding-bottom: 60px;
}
.Home-B .Nei-Div .Txt .top > .price {
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.Home-B .Nei-Div .Txt .bottom a {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.Home-B .Nei-Div .Txt .top p {
    width: 100%;
}
#payment .content-payment .paymentDiv {
    padding: 10px 0;
    border-width: 1px;
}

}

/* 图标 animation */
@keyframes icon {
 0%, 100% {
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 25% {
 -moz-transform: rotate(15deg);
 -ms-transform: rotate(15deg);
 -webkit-transform: rotate(15deg);
 transform: rotate(15deg);
}
 50% {
 -moz-transform: rotate(-15deg);
 -ms-transform: rotate(-15deg);
 -webkit-transform: rotate(-15deg);
 transform: rotate(-15deg);
}
 75% {
 -moz-transform: rotate(5deg);
 -ms-transform: rotate(5deg);
 -webkit-transform: rotate(5deg);
 transform: rotate(5deg);
}
 85% {
 -moz-transform: rotate(-5deg);
 -ms-transform: rotate(-5deg);
 -webkit-transform: rotate(-5deg);
 transform: rotate(-5deg);
}
}
@-webkit-keyframes icon {
 0%, 100% {
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 25% {
 -moz-transform: rotate(15deg);
 -ms-transform: rotate(15deg);
 -webkit-transform: rotate(15deg);
 transform: rotate(15deg);
}
 50% {
 -moz-transform: rotate(-15deg);
 -ms-transform: rotate(-15deg);
 -webkit-transform: rotate(-15deg);
 transform: rotate(-15deg);
}
 75% {
 -moz-transform: rotate(5deg);
 -ms-transform: rotate(5deg);
 -webkit-transform: rotate(5deg);
 transform: rotate(5deg);
}
 85% {
 -moz-transform: rotate(-5deg);
 -ms-transform: rotate(-5deg);
 -webkit-transform: rotate(-5deg);
 transform: rotate(-5deg);
}
}
@-moz-keyframes icon {
 0%, 100% {
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 25% {
 -moz-transform: rotate(15deg);
 -ms-transform: rotate(15deg);
 -webkit-transform: rotate(15deg);
 transform: rotate(15deg);
}
 50% {
 -moz-transform: rotate(-15deg);
 -ms-transform: rotate(-15deg);
 -webkit-transform: rotate(-15deg);
 transform: rotate(-15deg);
}
 75% {
 -moz-transform: rotate(5deg);
 -ms-transform: rotate(5deg);
 -webkit-transform: rotate(5deg);
 transform: rotate(5deg);
}
 85% {
 -moz-transform: rotate(-5deg);
 -ms-transform: rotate(-5deg);
 -webkit-transform: rotate(-5deg);
 transform: rotate(-5deg);
}
}
@-o-keyframes icon {
 0%, 100% {
 -moz-transform: rotate(0deg);
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 25% {
 -moz-transform: rotate(15deg);
 -ms-transform: rotate(15deg);
 -webkit-transform: rotate(15deg);
 transform: rotate(15deg);
}
 50% {
 -moz-transform: rotate(-15deg);
 -ms-transform: rotate(-15deg);
 -webkit-transform: rotate(-15deg);
 transform: rotate(-15deg);
}
 75% {
 -moz-transform: rotate(5deg);
 -ms-transform: rotate(5deg);
 -webkit-transform: rotate(5deg);
 transform: rotate(5deg);
}
 85% {
 -moz-transform: rotate(-5deg);
 -ms-transform: rotate(-5deg);
 -webkit-transform: rotate(-5deg);
 transform: rotate(-5deg);
}
}

/*填写出行人信息*/
@keyframes div1 {
100% {
  top: 50%;
}
}
@-webkit-keyframes div1 {
100% {
  top: 50%;
}
}
@-moz-keyframes div1 {
100% {
  top: 50%;
}
}
@-o-keyframes div1 {
100% {
  top: 50%;
}
}
/*内页banner*/
@keyframes img1 {
100% {
 transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
}
@-webkit-keyframes img1 {
100% {
 transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
}
@-moz-keyframes img1 {
100% {
 transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
}
@-o-keyframes img1 {
100% {
  transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
}


















